[submodule "HayB0XX/src/Nintendo"]
	path = HayB0XX/src/Nintendo
	url = https://github.com/NicoHood/Nintendo
[submodule "HayB0XX/src/Arduino_Vector"]
	path = HayB0XX/src/Arduino_Vector
	url = https://github.com/JonnyHaystack/Arduino_Vector
[submodule "HayB0XX/src/ArduinoJoystickLibrary"]
	path = HayB0XX/src/ArduinoJoystickLibrary
	url = https://github.com/MHeironimus/ArduinoJoystickLibrary
