[submodule "src/Nintendo"]
	path = src/Nintendo
	url = https://github.com/JonnyHaystack/Nintendo
[submodule "src/Arduino_Vector"]
	path = src/Arduino_Vector
	url = https://github.com/JonnyHaystack/Arduino_Vector
[submodule "src/ArduinoJoystickLibrary"]
	path = src/ArduinoJoystickLibrary
	url = https://github.com/MHeironimus/ArduinoJoystickLibrary
